<p id="notice"><%= notice %></p>

<h1 class="title">My Latest Thoughts</h1>
<h3 class="subtitle">My inner most thoughts</h3>

<hr>

<div class="container">
  <% @articles.each do |article| %>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6">
      <%= image_tag(article.image_url, class:"img-responsive") %>
      <h3><%= article.date %></h3>
      <h2><%= article.title %></h2>
      <p><%= article.content %></p>
      <%= link_to 'Read More', article %>
      <%= link_to 'Edit Content', edit_article_path(article) %>
      <%= link_to 'Remove Content', article, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="sidebar">
        <h2>Featured Thought:</h2>

      </div>

       <h2>About Me</h2>
        Philip discovered the web when he and his brother got their first Mactonish. He also discovered how painful dial up internet was. On the web, he became fascinated by how websites were created and designed. As the years progressed and the web became more complicated and better, he started experimenting with basic websites using HTML.

        <h3>My Skills:</h3>
          <ul id="skill-list">
            <li>HTML/CSS</li>
            <li>Javascript/JQuery</li>
            <li>Ruby on Rails</li>
            <li>Wordpress and Drupal(Content Management System)</li>
            <li>Weebly, Wix, Webnode, etc (Drag and Drop Website Builders)</li>
          </ul>
        <h2>Contact Me</h2>
        Contact me at ptuan917@gmail.com
    </div>
  </div>
  <% end %>
  <br>

  <%= link_to 'New Article', new_article_path %>
</div>
